* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw;
}

ul {
    display: flex;
    align-items: center;
    gap: 4vw;

}

header {
    background-image: url(../img/assets/tsiwrat/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.btn a {
    color: black;
}

.btn {
    background-color: white;
    padding: 2vh 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    transition: 0.2s;
}

.btn:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.541);
}

.middel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    padding-block-start: 8vh;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#check,
nav label,.popa {
    display: none;
}
.popa{
    background-color: white;
    clip-path: polygon(1% 19%, 45% 19%, 83% 19%, 100% 0, 100% 100%, 46% 100%, 0 100%);
}

/* ======== i finish the page 1 =========== */
.grandparent h2 {
    color: grey;
    text-align: center;
    font-size: 32px;
    margin-bottom: 4vh;
}

.grandparent {
    padding-block: 23vh;
    padding-inline: 18vw;

}

.parent {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.card {
    width: calc(100%/3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    align-items: center;
    padding-block-start: 4vh;
    text-align: center;
}

.card img {
    width: 60px;
    border-radius: 50%;
}

.first {
    font-weight: 900;
}

.first+p {
    color: gray;
}

.text {
    width: 350px;
}
/* ==============finish page 3 in website======= */

.grandparentimage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grandparentimage img{
    width: 100%;
    height: 100%;
}

/* ===== i finish page 4 in desktop ==== */

footer{
    background-color: #2c756677;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 10vh;
    gap: 8vh;
}
footer p{
    font-size: xx-large;
    color: #2c7566;
    font-weight: 900;
}
footer a{
    color: #2c7566;
}
.icons{
    word-spacing: 3vw;
}
/* ===========i finish the footer in desktop======== */


@media screen and (max-width:480px) {
   nav  ul {
        display: none;
    }
    nav{
        position: relative;
    }
    nav a{
        color: rgba(0, 0, 0, 0.671);

    }
    .btn{
        background-color: orange;
        border-radius: 1.5rem;
        padding-inline: 3vw;
        padding-block: 15px;
    }
    .btn:active{
        background-color: rgba(255, 166, 0, 0.651);
    }

    
    #check:checked~nav .popa{
        display: block;
        position: absolute;
        top:8vh;
        right: 10vw;
        width: 400px;
        height: 400px;

    }
    #check:checked~nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:24vh;
        left: 38vw;
        z-index: 9999;
    }

    .middel h2 {
        width: 95%;
        text-align: center;
        margin: auto;
        letter-spacing: 2vw;


    }

    nav {
        padding: 4vh 4vw;
    }

    nav svg {
        display: block;
        width: 40px;
        fill: white;
        display: block;
    }

    .middel {
        padding-top: 11vh;
        position: relative;
        top: -5vh;
    }

    header {
        background-size: 1000px 100%;
        background-repeat: no-repeat;
    }

    .middel img {
        height: 250px;
        width: 10vw;
    }

    nav label {
        display: block;
    }

    /* ======== i finish the page 1 for mobile ======== */
    .parent{
        flex-direction: column;
        align-items: center;
    }

    .grandparent{
        padding-inline: 0vw;

    }
    .grandparent h2{
        letter-spacing: 10px;
        font-size: large; 
        width: 100%;       
    }
    /*============== this is page 3 for mobile============= */

    .grandparentimage{
        grid-template-columns: repeat(2,1fr);
        
    }
/* ===== i finish page 4 in mobile ==== */
    
    footer ul{
        gap: 15vw;
    }
}