*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style-type: none;
}   
a{
    color: black;
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3vh 2vw;
}
ul{
    display: flex;
    align-items: center;
    gap: 4vw;

}
header{
    background-image: url(../img/assets/tsiwrat/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}
.btn a{
    color: black;
}
.btn{
    background-color: white;
    padding:2vh 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
}
.btn:active{
    color: white;
    background-color:rgba(255, 255, 255, 0.541);
}
.middel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    padding-block-start: 8vh;
}
.middel h2{
    font-size: 40px;
    text-transform: uppercase;
}

nav label,#check{
    display: none;
}
/* ======== i finish the page 1 =========== */


@media screen and (max-width:480px) {
    ul{
        display: none;
    }
    .middel h2{
        width: 95%;
        text-align: center;
        margin: auto;
        letter-spacing: 2vw;
        
        
    }
    nav{
        padding: 4vh 4vw;
    }
    nav svg{
        width: 40px;
        fill: white;
        display: block;
    }
    .middel{
        padding-top: 11vh;
        position: relative;
        top: -5vh;
    }
    header{
        background-size: 1000px 100%;
        background-repeat: no-repeat;
    }
    .middel img{
        height: 250px;
        width: 10vw;
    }
    /* ======== i finish the page 1 for mobile ======== */
    

    
    
    
}