
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.item img{
    object-fit: cover;
    width: 100%;
}

.text{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bg{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: black;
    padding-bottom: 60px;
}

.graphic{
    background-image: url("../img/assets/tsiwrat/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    height: 400px;
}

.photo{
    background-image: url("../img/assets/tsiwrat/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    height: 400px;
}

.pink{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    background: linear-gradient(rgba(232, 153, 202, 0.449), rgba(232, 153, 202, 0.449)) no-repeat;
    background-size: 150px 10px;
    background-position: center;
}
.yellow{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    background: linear-gradient(rgba(255, 255, 0, 0.449), rgba(255, 255, 0, 0.455)) no-repeat;
    background-size: 150px 10px;
    background-position: center;
}

@media (max-width: 445px){
    .grid{
        grid-template-columns: 1fr;
    }
}