*{
    padding: 0%;
    margin: 0%;
}
.flex{
    display:flex;
}
.image{
    width: calc(100%/2);
}
div h1 {
    margin-bottom: 40px;
}
img{
    width: 100%;
}
.text{
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cerise{
    background-image: url(../img/assets/tsiwrat/desktop/image-graphic-design.jpg);
    background-size: cover;
    width:calc(100%/2);
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.cerise h1{
    position: absolute;
    bottom: 70px;
    left:50%;
    transform: translateX(-50%);
}
.cerise p{
    position: absolute;
    bottom: 40px;
    left:50%;
    transform: translateX(-50%);
}
.orange{
    background-image: url(../img/assets/tsiwrat/desktop/image-photography.jpg);
    background-size: cover;
    width:calc(100%/2);
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.orange h1{
    position: absolute;
    bottom: 70px;
    left:50%;
    transform: translateX(-50%);
}
.orange p{
    position: absolute;
    bottom: 40px;
    left:50%;
    transform: translateX(-50%);
}

.yellow{
    text-decoration:none;
    color: black;
    margin-top: 30px;
    box-shadow:  0 10px 0px 5px rgba(255, 255, 0, 0.557); 
    border-radius: 1rem;
    width: auto;
    height:10px;
}
.pink{
    text-decoration:none;
    color: black;
    margin-top: 30px;
    box-shadow:  0 10px 0px 5px pink; 
    border-radius: 1rem;
    width: auto;
    height:10px;
}
