*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style-type: none;
}   
a{
    color: black;
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3vh 2vw;
}
ul{
    display: flex;
    align-items: center;
    gap: 4vw;

}
header{
    background-image: url(../img/assets/tsiwrat/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}
.btn a{
    color: black;
}
.btn{
    background-color: white;
    padding:2vh 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
}
.btn:active{
    color: white;
    background-color:rgba(255, 255, 255, 0.541);
}
.middel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    padding-block-start: 8vh;
}
.middel h2{
    font-size: 40px;
    text-transform: uppercase;
}
